
.p-password-find{
    width: 100%;
}

.l-password-find-layout{
    width: 520px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.l-password-find-layout h2{
    text-align: center;
    margin: 50px 0;
}

.c-password-find-input{
    flex: 1;
}
.c-password-find-input h6{
    margin: 10px 0;
}

.c-password-find-text{
    margin-bottom: 30px;
}

.c-password-find-input-number{  
    flex: 1;
    margin-top: 10px;
}

.l-password-find-number-layout{
    display: flex;
    flex: 1;
    padding: 10px 0;
    gap: 10px;
    margin-bottom: 30px;
}
.l-password-find-number-layout div:first-child{
    display: flex;
    position: relative;
    flex: 1;
    
}

.l-password-find-number-layout div:last-child{
    margin: auto;
}

.l-password-find-number-layout div:last-child button{
    width:100px;
}
.c-password-find-numbertime{
    position: absolute;
    top: 10px;
    right: 5px;
}
.c-password-find-nextbtn button{
    width: 100%;
    margin-bottom: 50px;
}

/* 에러 */

.is-error-text{
  color: red;
  font-size: 12px;
  margin-top: 4px;
  min-height: 16px;
}

.c-input.is-error{
  border: 1px solid red;
}