.div-title{
  display: flex;
  align-content: flex-start;
}

.p-community-post{
  display: flex;
}

.l-community-post-detail{
  display: flex;
}

.l-community-post-img-attach{
  display: flex;
}

#imageInput{
  background-color: var(--color-primary);
  color: #fff;
}